:root {
  --black: #1a1a1a;
  --grey: #474747;
}

* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  line-height: 1.5;
  color: var(--black);
}

h1, h2, h3 {
  font-family: "Bebas Neue", Helvetica;
}

h1, h2{
  padding-top: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

article {
  max-width: 750px;
}

p {
  padding-bottom: 0.5rem;
}

.post{
  display: flex;
  flex-direction: column;

  
}
.post > *{
  max-width: 80%;
  
}
ul {
  list-style-type: "- ";
}

footer {
  padding: 1rem 0;
  text-align: center;
  color: var(--grey);
}

.footer-link {
  color: var(--grey);
}

.footer-link:visited {
  color: var(--grey);
}

#intro, #projects, #links, #contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  text-align: center;

}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

.date {
  color: #000;
  opacity: 60%;
}

.footdef p {
  padding: 0;
}

/* Updated Projects page styles */
.project {
  border: 1px solid var(--black);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 750px;
  width: 100%;
}

.project img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project h2 {
  margin-top: 0;
  padding-top: 0;
}

.project p {
  flex-grow: 1;
  padding-top: 1rem;
}

.view-btn {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: transparent;
  transition: all 0.3s ease;
  align-self: flex-start;
  margin-top: 1rem;
}

.view-btn:hover {
  color: #fff;
  background-color: var(--black);
}

/* style quotes */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1rem 10px;
  padding: 0.5rem 10px;

}

blockquote p {
  display: inline-block;
  
}

blockquote p:first-child{
  padding-bottom: 0.5rem;
}

blockquote p:last-child{
  padding-bottom: 0;
}

/* Responsive adjustments */
@media only screen and (min-width: 768px) {
  .project {
    flex-direction: row;
    align-items: flex-start;
  }

  .project img {
    width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .project-info {
    width: 50%;
  }
}


@media only screen and (max-width: 600px) {
  body{
    padding: 1em;
  }

} 
