@font-face {
    font-family: "Fira Code";
    src: url("fc.woff") format("woff");
}


*{
    font-family: "Fira Code";
    background-color: #282828;
    color: #dcdcdc;
    box-sizing: border-box;
}

a:link{
    color:#8aafe1;
}
a:visited{
    color:#d38a8a;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dimage{
    width: 400px;
}

h1{
    text-align: center;
}
aside{
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 10px;
    
}
ul{
    list-style: none;
}

article{
    
    width: 60vw;
    padding-bottom: 20px;
    
  
    
}
