
html {
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  color: #1a1a1a;
  background-color: #fdfdfd;
}
@media screen and (max-width: 450px) {
    html{
	font-size: 0.9rem;
    }
}

body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}


pre {
    background-color: #eee;
}

code {
    border: 1px solid #eee;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
}

a {
  color: #1a1a1a;
}

a:visited {
  color: #1a1a1a;
}

.title {
  margin-bottom: 0;
}
.subtitle {
  margin: 0;
  color: #737373;
}

.webring .articles {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.webring .title {
  margin: 0;
}
.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  background: #eee;
  min-width: 10rem;
}
.webring .summary {
  font-size: 0.8rem;
  flex: 1 1 0;
}
.webring .attribution {
  text-align: right;
  font-size: 0.8rem;
  color: #555;
}

